<div class="row">
  <div class="col-md-12">
    <img
      [src]="recipe.imagePath"
      class="img-fluid"
      alt="img"
      style="width: 100%; height: 500px"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#" class="dropdown-item" (click)="addToShoppingList()"
            >Toshopping list</a
          >
        </li>
        <li>
          <a (click)="onEditRecipe()" class="dropdown-item">Edit Recipe</a>
        </li>
        <li>
          <a (click)="onDeleteRecipe()" class="dropdown-item">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingrdient of recipe.ingredients">
        {{ ingrdient.name }}-{{ ingrdient.amount }}
      </li>
    </ul>
  </div>
</div>
